<div>
  <hr>
  <p>
  <%= current_year %> | Author: Александр Севостьянов | Github page: <%= github_url('Sevos83', 'test-guru') %>
  </p>

  <p>
  Платформа для прохождения, просмотра, создания тестов Test-Guru
  </p>

  <p>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: :_blank %>
  </p>
</div>
