<div>
  <hr>
  <p>
  <%= link_to 'test-guru', 'https://github.com/Sevos83/test-guru' %> | Author: Александр Севостьянов
  </p>

  <p>
  Платформа для прохождения, просмотра, создания тестов Test-Guru
  </p>

  <p>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: :_blank %>
  </p>
</div>
